@font-face {
  font-family: "Protest";
  src: url(fonts/Protest\ Demo.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Semibold";
  src: url(fonts/Poppins-SemiBold.ttf);
}